{% extends 'blank_template.html' %}
{% block content %}
    <div class="w3-container" style="margin-top:80px" id="expansions div">
        <h1 class="w3-jumbo"><b>Cards</b></h1>
        <h1 class="w3-xxxlarge w3-text-red"><b>{{ title }}</b></h1>
        <table>
            <tr>
                {% if druid %}
                    <h1 class="w3-xxxlarge w3-text-red"><b>Druid</b></h1>
                    {% for card in druid %}
                       <a href="{% url 'HSDT:card_detail' pk=card.cardID %}"><img src="{{ card.img }}" style="width:220px;height: auto" onerror="this.style.display='none'" alt="error"></a>
                    {% endfor %}
                {% endif %}
            </tr>
            <tr>
                {% if hunter %}
                    <h1 class="w3-xxxlarge w3-text-red"><b>Hunter</b></h1>
                    {% for card in hunter %}
                        <a href="{% url 'HSDT:card_detail' pk=card.cardID %}"><img src="{{ card.img }}" style="width:220px;height: auto" onerror="this.style.display='none'" alt="error"></a>
                    {% endfor %}
                {% endif %}
            </tr>
            <tr>
                {% if mage %}
                    <h1 class="w3-xxxlarge w3-text-red"><b>Mage</b></h1>
                    {% for card in mage %}
                        <a href="{% url 'HSDT:card_detail' pk=card.cardID %}"><img src="{{ card.img }}" style="width:220px;height: auto" onerror="this.style.display='none'" alt="error"></a>
                    {% endfor %}
                {% endif %}
            </tr>
            <tr>
                {% if paladin %}
                    <h1 class="w3-xxxlarge w3-text-red"><b>Paladin</b></h1>
                    {% for card in paladin %}
                        <a href="{% url 'HSDT:card_detail' pk=card.cardID %}"><img src="{{ card.img }}" style="width:220px;height: auto" onerror="this.style.display='none'" alt="error"></a>
                    {% endfor %}
                {% endif %}
            </tr>
            <tr>
                {% if priest %}
                    <h1 class="w3-xxxlarge w3-text-red"><b>Priest</b></h1>
                    {% for card in priest %}
                        <a href="{% url 'HSDT:card_detail' pk=card.cardID %}"><img src="{{ card.img }}" style="width:220px;height: auto" onerror="this.style.display='none'" alt="error"></a>
                    {% endfor %}
                {% endif %}
            </tr>
            <tr>
                {% if rogue %}
                    <h1 class="w3-xxxlarge w3-text-red"><b>Rogue</b></h1>
                    {% for card in rogue %}
                        <a href="{% url 'HSDT:card_detail' pk=card.cardID %}"><img src="{{ card.img }}" style="width:220px;height: auto" onerror="this.style.display='none'" alt="error"></a>
                    {% endfor %}
                {% endif %}
            </tr>
            <tr>
                {% if shaman %}
                    <h1 class="w3-xxxlarge w3-text-red"><b>Shaman</b></h1>
                    {% for card in shaman %}
                        <a href="{% url 'HSDT:card_detail' pk=card.cardID %}"><img src="{{ card.img }}" style="width:220px;height: auto" onerror="this.style.display='none'" alt="error"></a>
                    {% endfor %}
                {% endif %}
            </tr>
            <tr>
                {% if warlock %}
                    <h1 class="w3-xxxlarge w3-text-red"><b>Warlock</b></h1>
                    {% for card in warlock %}
                        <a href="{% url 'HSDT:card_detail' pk=card.cardID %}"><img src="{{ card.img }}" style="width:220px;height: auto" onerror="this.style.display='none'" alt="error"></a>
                    {% endfor %}
                {% endif %}
            </tr>
            <tr>
                {% if warrior %}
                    <h1 class="w3-xxxlarge w3-text-red"><b>Warrior</b></h1>
                    {% for card in warrior %}
                        <a href="{% url 'HSDT:card_detail' pk=card.cardID %}"><img src="{{ card.img }}" style="width:220px;height: auto" onerror="this.style.display='none'" alt="error"></a>
                    {% endfor %}
                {% endif %}
            </tr>
            <tr>
                {% if neutral %}
                    <h1 class="w3-xxxlarge w3-text-red"><b>Neutral</b></h1>
                    {% for card in neutral %}
                        <a href="{% url 'HSDT:card_detail' pk=card.cardID %}"><img src="{{ card.img }}" style="width:220px;height: auto" onerror="this.style.display='none'" alt="error"></a>
                    {% endfor %}
                {% endif %}
            </tr>
        </table>
    </div>
{% endblock %}