{% extends 'blank_template.html' %}
{% block content %}
  <div class="w3-container" style="margin-top:80px" id="expansions div">
    <h1 class="w3-xxxlarge w3-text-red"><b>Choose class</b></h1>
      <table>
          <tr>
              <td>
                  <div class="w3-row-padding">
                    <div class="w3-half">
                        <a href="{% url 'HSDT:deck_name' image="https://art.hearthstonejson.com/v1/256x/HERO_06a.jpg"  %}" ><img src="https://art.hearthstonejson.com/v1/256x/HERO_06a.jpg" style="width:200px;height: auto" alt="Logo Boomsday"/></a>
                  </div>
                  </div>
              </td>
              <td>
                  <div class="w3-row-padding">
                    <div class="w3-half">
                        <a href="{% url 'HSDT:deck_name' image="https://art.hearthstonejson.com/v1/256x/HERO_05a.jpg" %}" ><img src="https://art.hearthstonejson.com/v1/256x/HERO_05a.jpg" style="width:200px;height: auto" alt="Logo Witchwood"></a>
                  </div>
                  </div>
              </td>
              <td>
                  <div class="w3-row-padding">
                    <div class="w3-half">
                        <a href="{% url 'HSDT:deck_name' image="https://art.hearthstonejson.com/v1/256x/HERO_08a.jpg" %}" ><img src="https://art.hearthstonejson.com/v1/256x/HERO_08a.jpg" style="width:200px;height: auto" alt="Logo Witchwood"></a>
                  </div>
                  </div>
              </td>
          </tr>
          <tr>
              <td>
                  <div class="w3-row-padding">
                    <div class="w3-half">
                        <a href="{% url 'HSDT:deck_name' image="https://art.hearthstonejson.com/v1/256x/HERO_04a.jpg" %}" ><img src="https://art.hearthstonejson.com/v1/256x/HERO_04a.jpg" style="width:200px;height: auto" alt="Logo Boomsday"/></a>
                  </div>
                  </div>
              </td>
              <td>
                  <div class="w3-row-padding">
                    <div class="w3-half">
                        <a href="{% url 'HSDT:deck_name' image="https://art.hearthstonejson.com/v1/256x/HERO_09a.jpg" %}" ><img src="https://art.hearthstonejson.com/v1/256x/HERO_09a.jpg" style="width:200px;height: auto" alt="Logo Witchwood"></a>
                  </div>
                  </div>
              </td>
              <td>
                  <div class="w3-row-padding">
                    <div class="w3-half">
                        <a href="{% url 'HSDT:deck_name' image="https://art.hearthstonejson.com/v1/256x/HERO_03a.jpg" %}" ><img src="https://art.hearthstonejson.com/v1/256x/HERO_03a.jpg" style="width:200px;height: auto" alt="Logo Witchwood"></a>
                  </div>
                  </div>
              </td>
          </tr>
          <tr>
              <td>
                  <div class="w3-row-padding">
                    <div class="w3-half">
                        <a href="{% url 'HSDT:deck_name' image="https://art.hearthstonejson.com/v1/256x/HERO_02a.jpg" %}" ><img src="https://art.hearthstonejson.com/v1/256x/HERO_02a.jpg" style="width:200px;height: auto" alt="Logo Boomsday"/></a>
                  </div>
                  </div>
              </td>
              <td>
                  <div class="w3-row-padding">
                    <div class="w3-half">
                        <a href="{% url 'HSDT:deck_name' image="https://art.hearthstonejson.com/v1/256x/HERO_07a.jpg" %}" ><img src="https://art.hearthstonejson.com/v1/256x/HERO_07a.jpg" style="width:200px;height: auto" alt="Logo Witchwood"></a>
                  </div>
                  </div>
              </td>
              <td>
                  <div class="w3-row-padding">
                    <div class="w3-half">
                        <a href="{% url 'HSDT:deck_name' image="https://art.hearthstonejson.com/v1/256x/HERO_01a.jpg" %}" ><img src="https://art.hearthstonejson.com/v1/256x/HERO_01a.jpg" style="width:200px;height: auto" alt="Logo Witchwood"></a>
                  </div>
                  </div>
              </td>
          </tr>
      </table>
  </div>
{% endblock %}