{% extends 'blank_template.html' %}
{% block content %}
    <script language="JavaScript">
        function copy_text()
        {
            var tempInput = document.createElement("input");
            tempInput.style = "position: absolute; left: -1000px; top: -1000px";
            tempInput.value = document.getElementById("deck_string").value;
            document.body.appendChild(tempInput);
            tempInput.select();
            document.execCommand("copy");
            document.body.removeChild(tempInput);
        }
    </script>
    <input type="hidden" id="deck_string" name="deck_string" value="{{ deck_string }}">
    <h1 class="w3-jumbo"><b>{{ deck_name }}</b></h1>
    <table>
        <tr>
            <td style="width: 70%">{{ deck_description }}</td>
            <td style="width: 100px">&#160;</td>
            <td>Image of the deck.</td>
        </tr>
        <tr></tr>
        <tr>
            <td>&#160;</td>
            <td style="width: 100px">&#160;</td>
            <td><button onclick="copy_text()">Copy Deck</button></td>
        </tr>
    </table>
{% endblock %}