{% extends 'blank_template.html' %}
{% block content %}
    <div class="w3-container" style="margin-top:80px" id="expansions div">
        <h1 class="w3-jumbo"><b>Modificar Deck</b></h1>
         <form class = "deck-form" action="{%url 'HSDT:save_modifications'  %}" method="post">
        {% csrf_token %}
            <table>
                <tr>
                    {{ form }}
                </tr>
            </table>
        <input type="submit" value="Modificar Deck"/>
        </form>
    </div>
    <script language="JavaScript">
        document.getElementById("id_image").style.visibility = "hidden";
        document.getElementById("id_author").style.visibility = "hidden";
    </script>
{% endblock %}