{% extends 'blank_template.html' %}
{% block content %}
    <div style="display:none" itemscope itemtype ="http://schema.org/WebPage">
        <h1 itemprop="name">{{ deck_name }}</h1>
        <span itemprop="description">{{ deck_description }}</span>
    </div>
    <h1 class="w3-jumbo"><b>{{ deck_name }}</b></h1>
    <table>
        <tr>
            <td style="width: 70%">{{ deck_description }}</td>
            <td style="width: 100px">&#160;</td>
            <td><img src="{{ deck_image }}" alt="Deck Image"/></td>
        </tr>

        <tr></tr>
        <tr>
            <td>&#160;</td>
            <td style="width: 100px">&#160;</td>
        </tr>
    </table>
    <table>
    {% for card in cards %}
                <img src="{{ card.img }}" alt="{{ card.name }}" style="height:210px; width:auto"/>
        {% endfor %}
    </table>
{% endblock %}