{% extends 'blank_template.html' %}
{% block content %}
    <h1 class="w3-jumbo"><b>{{ deck_name }}</b></h1>
    <table>
        <tr>
            <td style="width: 70%">{{ deck_description }}</td>
            <td style="width: 100px">&#160;</td>
            <td><img src="{{ deck_image }}" alt="Deck Image"/></td>
        </tr>
        {% for card in cards %}
            <tr>
                <td>&#160;</td>
                <td>&#160;</td>
                <td><img src="{{ card.img }}" alt="{{ card.name }}" style="height:210px; width:auto"/></td>
            </tr>
        {% endfor %}
        <tr></tr>
        <tr>
            <td>&#160;</td>
            <td style="width: 100px">&#160;</td>
        </tr>
    </table>
{% endblock %}