{% extends 'blank_template.html' %}
{% block content %}
    <br>
    <br>
    <br>
    <form id="myteamssearchform" action="{% url 'HSDT:my_team' user %}" method="get" accept-charset="utf-8">
      <input class="searchfield" id="q" name="q" type="text" placeholder="Search">
    <button class="searchbutton" type="submit" value="search">Search</button>
    <br>
    <br>
    {% if query %}
        <table border="1" style="width: 20%;">
            <tr >
                {% for team in query %}
                    <td>
                        <a href="{% url 'HSDT:team_profile' team=team.pk user=user.pk %}" ><img src="{{ team.img }}" style="width:100%; height: auto ; table-layout: fixed" alt="error"></a>
                    </td>
                {% endfor %}
            </tr>
            <tr >
                {% for team in query %}
                    <td align="center">
                        <label>{{ team.name }}</label>
                    </td>
                {% endfor %}
            </tr>
        </table>
    {% endif %}

    </form>


{% endblock %}